body{
	background-color: #f2f2f2
}
#fieldset{
	background: #ffffff;
	border-color: #d8d8d8;
	margin: 50px auto;
	width: 330px;
	height: 300px;
}
header{
	text-align: center;
}
.required {
	color: red;
}
input{
	border-color: #c2c2c2;
}

#submit_button{
	margin-right: 3px;
	float: right;
	background-color: #0080ff;
	color: #ffffff;
}
#clear_button,#Home_button{
	float: right;
	background-color: #f2f2f2;
	color: #3f4751;
}  
label#id_email{
	font-style:italic
}
label {
	font-family: Arial;
	color: #3f4751;
	display: inline-block;
	width: 130px;
	text-align: left;
	}​


